body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1957b4;
}

h1 {
  color: whitesmoke;
  font-size: 15rem;
  opacity: 0.1;
  text-align: center;
  margin: 0;
  /* go to this deflate -> transform: translateY(0); */
}

.progress {
  background-color: white;
  width: 0;
  height: 3px;
  position: absolute;
  top: 50%;
}
